@use '../../assets/scss/animations';

.task-list {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.25rem;
	margin: 0;
	list-style: none;
	padding: 0;
}

.task-item {
	--border-radius: 1.25rem;
	--min-height: 2.5rem;
	--outline-color: var(--color-text);
	--spacing: 0.5rem;
	--title-max-width: 240px;
	--title-padding-inline: 0.45rem;

	@media (min-width: 1200px) {
		--title-padding-inline: 0.35rem;
	}

	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	color: var(--color-text-inverted);
	cursor: grab;
	display: flex;
	gap: 0;
	max-width: 100%;
	min-height: var(--min-height);
	position: relative;
	touch-action: manipulation;
	width: fit-content;
	z-index: 5;

	&:focus-within {
		z-index: 10;
	}

	&.is-placeholder .title span {
		opacity: 0.7;
	}

	&.is-dragging {
		box-shadow: var(--box-shadow-dragging);
		z-index: 10;

		.title {
			outline-color: var(--color-text);
		}
	}

	input[type='checkbox'] {
		--offset-y: 10px;
		--offset-x: 10px;

		border: none;
		margin: 0;
		position: absolute;
		top: var(--offset-y);
		left: var(--offset-x);
		display: block;

		&:before,
		&:after {
			position: absolute;
			top: calc(var(--offset-y) * -1 + var(--border-width-base));
			left: calc(var(--offset-x) * -1 + var(--border-width-base));
			height: calc(var(--min-height) - var(--border-width-base) * 2);
			aspect-ratio: 1 / 1;
		}

		&:before {
			background: var(--color-surface);
			border-radius: 50%;
			content: '';
		}

		&:not(:checked):hover:after,
		&:checked:after {
			content: '';
			background-color: var(--color-text);
			mask: url(../../../public/icons/check-bold.svg) no-repeat center / 70% auto;
			-webkit-mask: url(../../../public/icons/check-bold.svg) no-repeat center / 70% auto;
		}

		&:not(:checked):hover:after {
			opacity: 0.2;
		}

		&:focus-visible {
			&:before {
				background-color: var(--color-surface-inverted);
				outline: calc(var(--outline-width) + 1px) solid var(--color-text);
				outline-offset: calc(var(--outline-width) * 2);
			}

			&:after {
				background-color: var(--color-text-inverted);
			}
		}
	}

	input[type='checkbox'] + .title {
		padding-left: calc(var(--min-height) + var(--spacing));
	}

	.title {
		--actions-width: 40px;

		align-self: center;
		border-radius: var(--border-radius);
		box-sizing: border-box;
		max-width: var(--title-max-width);
		min-height: var(--min-height);
		overflow: hidden;
		padding: var(--title-padding-inline);
		padding-left: 1rem;
		padding-right: calc(var(--spacing) + var(--actions-width));
		word-wrap: break-word;

		user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;

		@media (min-width: 1024px) {
			--title-max-width: 500px;
		}

		&:has(textarea) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			text-decoration: none !important;
		}
	}

	&.is-checked {
		.title {
			text-decoration: line-through 4px var(--color-text);
		}
	}

	textarea {
		border: none;
		border-radius: 0.4rem;
		background-color: rgba(255, 255, 255, 0.5);
		display: block;
		padding: var(--title-padding-inline);
		margin: calc(var(--title-padding-inline) * -1);
		width: auto;
	}

	.actions {
		display: flex;
		gap: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	button {
		border-radius: var(--border-radius);
		padding: 0;
		height: var(--min-height);
		aspect-ratio: 1 / 1;

		&:hover,
		&:focus,
		&:active {
			background-color: var(--color-text);
			border: none;
			outline-color: var(--color-text);
		}

		&.btn-save,
		&.btn-delete,
		&.btn-cancel {
			&:not(:focus) {
				box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.4);
			}
		}

		&.btn-delete,
		&.btn-cancel {
			background-color: blue;
			position: absolute;
			right: -2.65rem;

			@media (prefers-reduced-motion: no-preference) {
				animation: bounceIn 0.3s forwards;
			}

			&:hover,
			&:focus,
			&:active {
				background-color: var(--color-text) !important;
			}
		}

		&.btn-delete {
			top: -1.5rem;
		}
		&.btn-cancel {
			top: 1.3rem;
		}
	}
}
