form {
	position: relative;

	input:has(+ .append) {
		padding-right: 3rem;
	}

	.append {
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;

		.dropdown-list {
			align-self: center;
		}

		button[type='submit'] {
			border-radius: var(--border-radius-base);
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			height: 100%;

			&:not([aria-disabled='true']) {
				&:hover,
				&:focus,
				&:active {
					background-color: var(--color-text);
					color: var(--color-text-inverted);
				}
			}

			&[aria-disabled='true'] {
				background-color: transparent;
			}

			&:focus {
				border-radius: var(--border-radius-base);
			}
		}
	}
}

input,
textarea {
	background-color: var(--color-surface);
	border: var(--border-base);
	border-radius: var(--border-radius-base);
	color: var(--color-text);
	font-family: var(--font-family-text);
	font-size: var(--font-size-base);
	padding: 0.5rem 0.75rem;

	@media (min-width: 600px) {
		padding: 0.75rem 1rem;
	}

	&:read-only {
		border-color: var(--border-color-disabled);
	}

	&:focus {
		border-color: var(--color-focus);
		outline: none;
	}

	&:focus-visible {
		border-color: var(--color-focus);
	}
}

label:has(> input[type='checkbox']) {
	--checkbox-width: 1.75rem;
	--checkbox-offset: 5px;

	padding-left: calc(var(--checkbox-width) + 1rem);

	position: relative;

	input[type='checkbox'] {
		--bg-color: #fff;

		display: inline-block;
		left: var(--checkbox-offset);
		margin: 0;
		position: absolute;
		top: var(--checkbox-offset);

		&:before {
			aspect-ratio: 1 / 1;
			background: var(--bg-color) no-repeat center center;
			border: var(--border-base);
			border-radius: var(--border-radius-base);
			content: '';
			display: block;
			margin-left: calc(-1 * var(--checkbox-offset));
			margin-top: calc(-1 * var(--checkbox-offset));
			min-height: var(--checkbox-width);
		}

		&:checked::before {
			background-image: url(../../../public/icons/check-bold.svg);
			background-size: 1.5rem 1.5rem;
		}
	}
}

textarea {
	border: none;

	&.as-input {
		height: 1lh;
		resize: none;
		white-space: nowrap;

		@supports (field-sizing: content) {
			field-sizing: content;
			height: auto;
			white-space: normal;
		}
	}
}

.form-new-task,
.form-new-list {
	margin-bottom: 1rem;
	width: fit-content;
	z-index: 1;

	input[type='text'] {
		box-sizing: border-box;
		max-width: 400px;
		width: calc(100dvw - 2 * var(--padding-page-x));

		@media (min-width: 1024px) {
			max-width: 550px;
		}
	}
}

.form-new-task {
	margin-left: auto;
	margin-right: auto;

	input[type='text'] {
		max-width: 400px;
		width: calc(100dvw - 2 * var(--padding-page-x));

		@media (min-width: 1024px) {
			max-width: 550px;
		}
	}
}

.form-new-list {
	input[type='text'] {
		padding-right: 7rem;
	}
}

.error-message {
	border-radius: 0.4rem;
	display: block;
	font-size: 1rem;

	.form-new-task & {
		background-color: var(--color-surface);
		border: var(--border-width-base) var(--border-style-base) currentColor;
		border-radius: var(--border-radius-base);
		bottom: 4rem;
		color: var(--color-error);
		padding: 0.8rem 1rem;
		position: absolute;
		right: 0;
	}

	.task-item .title & {
		margin: 0 -0.35rem;
		padding-top: 0.5rem;
	}

	p {
		font-size: inherit;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
