form {
	position: relative;

	input:has(+ .append) {
		padding-right: 3rem;
	}

	.append {
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;

		.dropdown-list {
			align-self: center;
		}

		button[type='submit'] {
			border-radius: var(--border-radius-base);
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			height: 100%;

			&:hover,
			&:focus,
			&:active {
				background-color: var(--color-text);
				color: var(--color-text-inverted);
			}

			&:focus {
				border-radius: var(--border-radius-base);
			}
		}
	}
}

input,
textarea {
	background-color: var(--color-surface);
	border: var(--border-base);
	border-radius: var(--border-radius-base);
	color: var(--color-text);
	font-family: var(--font-family-text);
	font-size: var(--font-size-base);
	padding: 0.75rem 1rem;

	&:disabled {
		border-color: var(--border-color-disabled);
	}

	&:focus {
		border-color: var(--color-focus);
		outline: none;
	}
}

textarea {
	border: none;
}

.form-new-todo,
.form-new-list {
	margin-bottom: 1rem;
	width: fit-content;
	z-index: 1;

	input[type='text'] {
		box-sizing: border-box;
		max-width: 400px;
		width: calc(100dvw - 2 * var(--padding-page-x));

		@media (min-width: 1024px) {
			max-width: 550px;
		}
	}
}

.form-new-todo {
	margin-left: auto;
	margin-right: auto;

	input[type='text'] {
		max-width: 400px;
		width: calc(100dvw - 2 * var(--padding-page-x));

		@media (min-width: 1024px) {
			max-width: 550px;
		}
	}
}

.form-new-list {
	input[type='text'] {
		padding-right: 7rem;
	}
}

.error-message {
	font-size: 1.2rem;
	color: var(--red);
	position: absolute;
}
