header#page-header,
footer#page-footer {
	--spacing-y: 0.5rem;

	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: var(--spacing-y);
	justify-content: space-between;
	position: relative;

	&:after {
		background-color: var(--color-text);
		content: '';
		display: block;
		height: var(--border-width-base);
		width: 100%;
		position: absolute;
		top: calc(50% - var(--border-width-base) / 2);
		z-index: -1;
	}
}

header#page-header {
	@media (max-width: 767px) {
		nav {
			order: 1;
		}

		&:after {
			top: auto;
			bottom: calc((50% - var(--border-width-base) / 2));
		}
	}

	@media (min-width: 768px) {
		flex-wrap: nowrap;
	}

	aside button {
		height: 100%;
	}
}
