h1 {
	display: inline-block;
	font-family: var(--font-family-headings);
	font-size: var(--font-size-h1);
	line-height: var(--line-height-h1);
	margin: 0 0 2rem;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-thickness: 0.15em;

	@media (min-width: 1024px) {
		margin-bottom: 3rem;
	}

	@media (min-width: 1280px) {
		max-width: 11ch;
	}
}

h2 {
	margin: 0;
	font-family: var(--font-family-headings);
	font-size: var(--font-size-h2);
}

p {
	--fz: 1.25rem;

	font-size: var(--fz);
	line-height: 1.35;
	margin-top: 0;

	&:first-child {
		font-size: calc(var(--fz) + 0.5rem);
	}

	&:last-child {
		font-size: calc(var(--fz) - 0.3rem);
	}

	@media (min-width: 768px) {
		--fz: 1.5rem;
	}
}

a {
	color: var(--color-text);
}
