h1 {
	display: inline-block;
	font-family: var(--font-family-headings);
	font-size: var(--font-size-xxl);
	line-height: 1.2;
	margin: 0 0 1.5rem;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-thickness: 0.15em;

	@media (min-width: 1024px) {
		margin-bottom: 3rem;
	}

	@media (min-width: 1280px) {
		max-width: 11ch;
	}
}

h2 {
	margin: 0;
	font-family: var(--font-family-headings);
	font-size: var(--font-size-h2);
}

p {
	font-size: 1.25rem;
	margin-top: 0;

	@media (min-width: 600px) {
		font-size: 1.5rem;
	}

	@media (min-width: 768px) {
		font-size: 1.75rem;
	}

	@media (min-width: 1024px) {
		font-size: 2rem;
	}
}

a {
	color: var(--color-text);
}
