body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: var(--font-family-text);
	font-size: var(--font-size-base);
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: calc(100dvh - 2 * 1.875rem);
	padding: var(--padding-page-y) var(--padding-page-x);
}

main {
	flex: 1;
	padding: 1.875rem 0;
}
