body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: var(--font-family-text);
	font-size: var(--font-size-base);
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: calc(100dvh - 2 * 1.875rem);
	padding: var(--padding-page-y) var(--padding-page-x);
}

main {
	flex: 1;
	padding: 1.875rem 0;
	position: relative;
}

.hidden,
.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	position: absolute;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	width: 1px;
}
