button {
	background-color: var(--color-surface);
	border: var(--border-width-base) solid var(--color-text);
	border-radius: var(--border-radius-base);
	color: var(--color-text);
	cursor: pointer;
	font-size: var(--font-size-base);
	padding: 0;

	&:hover {
		background-color: var(--color-surface-inverted);
		color: var(--color-text-inverted);
	}

	&:has(svg:only-child) {
		display: flex;

		svg {
			margin: auto;
		}
	}
}

.button-icon-only {
	aspect-ratio: 1 / 1;
	background-color: transparent;
	border: none;
	color: currentColor;
	padding: 0;

	&:hover {
		background-color: transparent;
		color: currentColor;
	}
}

.btn-prev,
.btn-next {
	border-radius: 50%;
	position: fixed;
	top: 50dvh;
}
.btn-prev {
	left: calc(var(--padding-page-x) / 2);
}
.btn-next {
	right: calc(var(--padding-page-x) / 2);
}
