input,
textarea {
	background-color: var(--color-surface);
	border: var(--border-width-base) solid var(--border-color-base);
	border-radius: var(--border-radius-base);
	color: var(--color-text);
	font-family: var(--font-family-text);
	font-size: var(--font-size-base);
	padding: 0.75rem 1rem;

	&:focus {
		border-color: var(--color-focus);
		outline: none;
	}
}

.form-new-todo {
	position: relative;
	margin: 0 auto;
	width: fit-content;
	z-index: 1;

	input[type='text'] {
		box-sizing: border-box;
		max-width: 400px;
		padding-right: 3rem;
		width: calc(100dvw - 2 * var(--padding-page-x));

		@media (min-width: 1024px) {
			max-width: 550px;
		}
	}

	button[type='submit'] {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;

		&:hover,
		&:focus,
		&:active {
			background-color: var(--color-text);
			color: var(--color-text-inverted);
		}

		&:focus {
			border-radius: var(--border-radius-base);
		}
	}
}
