nav {
	ul {
		display: flex;
		flex-direction: row;
		font-family: var(--font-family-menus);
		gap: 0.75rem;

		list-style: none;
		margin: 0;
		padding: 0;
	}

	&.nav_main {
		flex-basis: 100%;

		ul {
			counter-reset: mainNavCounter 0;
			justify-content: space-between;

			@media (min-width: 551px) {
				justify-content: center;
			}

			li {
				counter-increment: mainNavCounter;
			}

			li .pill > :first-child:before {
				content: counter(mainNavCounter, decimal-leading-zero);
			}
		}
	}
}

@media (min-width: 768px) {
	nav {
		&.nav_main {
			flex-basis: auto;
		}
		ul {
			gap: 1.5rem;
		}
	}
}
