:focus-visible {
	outline: calc(var(--outline-width) + 1px) var(--outline-style) var(--outline-color);
	outline-offset: var(--outline-width);
}

nav {
	display: flex;
	height: 100%;

	ul,
	ol {
		display: flex;
		flex-direction: row;
		font-family: var(--font-family-menus);
		gap: 0.5rem;

		list-style: none;
		margin: 0;
		padding: 0;
	}

	&.nav_main {
		flex-basis: 100%;

		ul,
		ol {
			counter-reset: mainNavCounter 0;
			justify-content: space-between;
			width: 100%;

			@media (min-width: 551px) {
				justify-content: center;
			}

			li {
				counter-increment: mainNavCounter;
			}

			li .pill > :first-child:before {
				content: counter(mainNavCounter, decimal-leading-zero);
				padding-right: 0.1rem;
			}
		}
	}
}

@media (min-width: 768px) {
	nav {
		&.nav_main {
			flex-basis: auto;
		}
		ul,
		ol {
			gap: 1.5rem;
		}
	}
}
