button.btn-prev,
button.btn-next {
	border-radius: 50%;
	position: fixed;
	top: calc(50dvh - 2rem);
	z-index: 10;
}
button.btn-prev {
	left: calc(var(--padding-page-x) / 3);
}
button.btn-next {
	right: calc(var(--padding-page-x) / 3);
}
