.task-list {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.25rem;
	margin: 0;
	list-style: none;
	padding: 0;
}

.task-item {
	--border-radius: 1.25rem;
	--min-height: 2.5rem;
	--title-max-width: 240px;
	--spacing: 0.5rem;

	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	color: var(--color-text-inverted);
	cursor: grab;
	display: flex;
	gap: var(--spacing);
	min-height: var(--min-height);
	position: relative;
	width: fit-content;
	z-index: 5;

	&.is-dragging {
		box-shadow: var(--box-shadow-dragging);
		z-index: 10;
	}

	input[type='checkbox'] {
		--offset-y: 10px;
		--offset-x: 10px;

		margin: 0;
		position: absolute;
		top: var(--offset-y);
		left: var(--offset-x);

		&:before,
		&:after {
			position: absolute;
			top: calc(var(--offset-y) * -1 + var(--border-width-base));
			left: calc(var(--offset-x) * -1 + var(--border-width-base));
			height: calc(var(--min-height) - var(--border-width-base) * 2);
			aspect-ratio: 1 / 1;
		}

		&:before {
			background: var(--color-surface);
			border-radius: 50%;
			content: '';
		}

		&:not(:checked):hover:after,
		&:checked:after {
			content: '';
			background-color: var(--color-text);
			mask: url(../../../public/icons/check-bold.svg) no-repeat center / 70% auto;
			-webkit-mask: url(../../../public/icons/check-bold.svg) no-repeat center / 70% auto;
		}

		&:not(:checked):hover:after {
			opacity: 0.2;
		}

		&:focus-visible {
			&:before {
				background-color: var(--color-surface-inverted);
				outline: calc(var(--outline-width) + 1px) solid var(--color-text);
				outline-offset: calc(var(--outline-width) * 2);
			}

			&:after {
				background-color: var(--color-text-inverted);
			}
		}
	}

	input[type='checkbox'] + .title {
		padding-left: calc(var(--min-height) + var(--spacing));
	}

	.title {
		align-self: center;
		border-radius: var(--border-radius);
		box-sizing: border-box;
		max-width: var(--title-max-width);
		min-height: var(--min-height);
		overflow: hidden;
		padding: 0.5rem calc(var(--min-height) + var(--spacing) + 1px) 0.5rem 1rem;
		word-wrap: break-word;

		@media (min-width: 1024px) {
			--title-max-width: 500px;
			padding-bottom: 0.25rem;
			padding-top: 0.25rem;
		}
	}

	&.checked {
		.title {
			text-decoration: line-through 4px var(--color-text);
		}
	}

	button {
		border-radius: var(--border-radius);
		padding: 0;
		height: var(--min-height);
		position: absolute;
		right: 0;
		aspect-ratio: 1 / 1;

		&:hover,
		&:focus,
		&:active {
			background-color: var(--color-text);
			border: none;
			outline-color: var(--color-text);
		}
	}
}
