.task-list {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.25rem;
	margin: 0;
	list-style: none;
	padding: 0;
}

.task-item {
	--border-radius: 1.25rem;
	--min-height: 2.5rem;
	--spacing: 0.5rem;

	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	color: var(--color-text-inverted);
	cursor: grab;
	display: flex;
	gap: var(--spacing);
	min-height: var(--min-height);
	position: relative;
	width: fit-content;
	z-index: 10;

	&[aria-pressed='true'] {
		box-shadow: var(--box-shadow);
	}

	.title {
		align-self: center;
		border-radius: var(--border-radius);
		box-sizing: border-box;
		padding: 0.25rem calc(var(--min-height) + var(--spacing) + 1px) 0.25rem 1rem;
		min-height: var(--min-height);
	}

	button {
		border-radius: var(--border-radius);
		padding: 0;
		height: var(--min-height);
		position: absolute;
		right: 0;
		aspect-ratio: 1 / 1;

		&:hover,
		&:focus,
		&:active {
			background-color: var(--color-text);
			border: none;
			outline-color: var(--color-text);
		}
	}
}
