.todo-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.25rem;
	margin: 0;
	list-style: none;
	padding: 0;
}

.todo-item {
	background-color: var(--color-primary);
	border-radius: 1.25rem;
	color: var(--color-text-inverted);
	display: flex;
	padding: 0.25rem 1rem;

	button {
		opacity: 0.8;
	}
}
