:root {
	/* TOKENS */
	--color-white: #fff;
	--color-light: #faf5e8;
	--color-dark: #373533;

	--green-dark: #00857e;
	--green: #15bca6;
	--blue-light: #1392ec;
	--blue-dark: #1254d9;
	--purple: #625aff;
	--red: #f54772;
	--yellow: #f9c406;
	--orange: #ff930f;

	--box-shadow-base: 0 0 10px rgba(0, 0, 0, 0.4);
	--box-shadow-inverted: 0 0 10px rgba(255, 255, 255, 0.4);

	/* VARIABLES */
	--color-primary: var(--purple);

	--color-surface: var(--color-white);
	--color-surface-inverted: var(--color-dark);
	--color-text: var(--color-dark);
	--color-text-inverted: var(--color-white);

	--border-width-base: 2px;
	--border-style-base: solid;
	--border-color-base: var(--color-dark);
	--border-color-disabled: rgba(0, 0, 0, 0.4);
	--border-base: var(--border-width-base) var(--border-style-base) var(--color-text);
	--border-radius-base: 0.625rem;
	--color-focus: var(--color-primary);
	--color-error: var(--red);
	--font-family-headings: 'Oswald', sans-serif;
	--font-family-text: 'Atkinson Hyperlegible Next', sans-serif;
	--font-family-menus: 'Atkinson Hyperlegible Mono', sans-serif;
	--font-size-base: 1.2rem;
	--font-size-xxl: 3rem;
	--outline-color: var(--color-primary);
	--outline-style: solid;
	--outline-width: var(--border-width-base);

	--box-shadow: var(--box-shadow-base);

	/* ELEMENT-SPECIFIC */

	--color-bg: var(--color-light);
	--font-size-h2: 1.5rem;
	--padding-page-x: 1.25rem;
	--padding-page-y: 0.9rem;

	--border-radius-pill: 1.5rem;

	--color-inactive-task: #999;
}

@media (min-width: 1024px) {
	:root {
		--font-size-base: 1.5rem;
		--font-size-xxl: 7rem;
		--border-width-base: 3px;
		--padding-page-x: 2.5rem;
		--padding-page-y: 1.875rem;

		/* ELEMENT-SPECIFIC */

		--font-size-h2: 1.5rem;
	}
}
