button {
	background-color: var(--color-surface);
	border: var(--border-base);
	border-radius: var(--border-radius-base);
	color: var(--color-text);
	cursor: pointer;
	font-size: var(--font-size-base);
	padding: 0;
	width: fit-content;

	&:hover,
	&:focus,
	&:active {
		background-color: var(--color-surface-inverted);
		color: var(--color-text-inverted);
	}

	&:has(svg:only-child) {
		display: flex;

		svg {
			margin: auto;
		}
	}

	&.unstyled {
		background-color: transparent;
		border-radius: unset;
		border: none;
	}

	&[aria-disabled='true'],
	&[aria-disabled='true']:hover,
	&[aria-disabled='true']:focus {
		background-color: var(--color-surface);
		border-color: var(--border-color-disabled);
		color: var(--border-color-disabled);
		cursor: default;
	}
}

.btn-icon-only {
	aspect-ratio: 1 / 1;
	background-color: transparent;
	border: none;
	color: currentColor;
	padding: 0;

	&:hover,
	&:focus,
	&:active {
		background-color: transparent;
		color: currentColor;
	}
}

.btn-group {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: center;
}
