.list-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 100%;
	overflow: visible;

	@media (min-width: 768px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 1024px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: 1400px) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.list.list_unsorted {
	border: none;
	bottom: 0;
	height: auto;
	left: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	touch-action: auto;

	&:not(:only-child) {
		font-size: var(--font-size-h1);
		line-height: var(--line-height-h1);
		height: 3.2lh;
	}

	.task-item {
		position: absolute;
	}

	@media (prefers-reduced-motion: no-preference) {
		transition: all 0.3s ease;
	}

	ul {
		height: 100%;
	}

	.task-item {
		box-shadow: var(--box-shadow);
	}
}

.list {
	border-radius: var(--border-radius-base);
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	&.is-dragging {
		box-shadow: var(--box-shadow-dragging);
		cursor: grabbing;
	}

	&:focus-within {
		z-index: 15;
	}

	&:not(.list_unsorted) {
		background-color: var(--color-surface);
		border: var(--border-base);
		cursor: grab;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		height: fit-content;
		min-width: 0;
		padding: 0.75rem 1rem;
		position: relative;
		touch-action: manipulation;

		&:active {
			cursor: grabbing;
		}

		@media (min-width: 1200px) {
			gap: 1rem;
		}
	}

	header {
		--padding-y: 0.25rem;

		align-items: flex-start;
		display: flex;
		gap: 1rem;
		justify-content: space-between;

		> * {
			flex: 0 1 auto;
			min-width: 0;
			max-width: 100%;
			word-break: break-word;
		}

		.list-name {
			border-bottom: calc(var(--outline-width) + 1px) var(--outline-style) transparent;
			cursor: text;
			line-height: 1.4;
			margin-top: calc(-1 * var(--padding-y));
			min-height: 1.05lh;
			padding-bottom: calc(var(--padding-y) / 2);
			padding-top: var(--padding-y);
			white-space: pre-wrap;

			&:is(textarea) {
				--padding-x: 0.25rem;

				background-color: hsl(242.91deg 40% 87.65%);
				border-radius: 0;
				display: block;
				font-family: var(--font-family-headings);
				font-size: var(--font-size-h2);
				margin-left: calc(-1 * var(--padding-x));
				padding-inline: var(--padding-x);
				width: auto;

				&::placeholder {
					opacity: 0.7;
				}
			}

			&:focus-visible {
				border-bottom-color: var(--outline-color);
			}
		}

		> aside {
			align-items: center;
			display: flex;
			flex: 0 0 auto;
			padding-top: calc(var(--padding-y) / 2);
			width: min-content;
			gap: 0.5rem;
			position: relative;
			z-index: 10;
		}

		::selection {
			background-color: color-mix(in oklab, var(--purple) 100%, #fff 99%);
		}
	}

	> ul {
		display: flex;
		flex-direction: column;
		list-style: none;
		gap: 0.25rem;
		margin: 0;
		padding: 0;

		@media (min-width: 1200px) {
			gap: 0.5rem;
		}
	}
}

.list-footer {
	display: grid;
	font-size: 1rem;
	gap: 0.5rem;
	grid-template-columns: auto 1fr;

	button {
		align-self: start;

		&[aria-disabled='true'] {
			border-style: dashed;
			border-color: var(--border-color-disabled);
			color: var(--border-color-disabled);

			&:hover,
			&:focus,
			&:active {
				background-color: var(--color-surface);
				cursor: grab;
			}
		}
	}
}

.new-list-wrapper {
	top: calc(100dvh - var(--padding-page-y) - var(--pill-size-lg));
	position: fixed;
	right: var(--padding-page-x);
	z-index: 20;

	.error-message {
		background-color: var(--color-error);
		bottom: calc(100% + 0.7rem);
		box-shadow: var(--box-shadow-base);
		color: var(--color-text-inverted);
		display: flex;
		padding: 0.25rem 0.5rem;
		position: absolute;
		right: -0.5rem;
		width: min(310px, 88dvw);

		button {
			align-self: flex-start;
			background-color: transparent;
			border: none;
			border-radius: 50%;
			padding: 0.25rem;

			&:hover,
			&:focus,
			&:active {
				background-color: var(--color-text);
			}

			svg {
				color: var(--color-text-inverted);
				padding: 0.25rem;
				margin: -0.25rem;
				height: 1.25rem;
				width: 1.25rem;
			}
		}

		p:last-of-type {
			margin-bottom: 0;
		}
	}
}

.btn-new-list {
	&[aria-disabled='true'],
	&[aria-disabled='true']:hover,
	&[aria-disabled='true']:focus-visible {
		background-color: var(--color-surface);
		border-style: dashed;
	}

	&[aria-disabled='true'] {
		box-shadow: var(--box-shadow-base);

		&:after {
			background-color: var(--color-error);
			border-radius: 50%;
			box-shadow: var(--box-shadow-base);
			color: var(--color-text-inverted);
			content: '!';
			font-size: 1.3rem;
			height: 1.75rem;
			position: absolute;
			right: -0.5rem;
			top: -0.5rem;
			width: 1.75rem;
		}
	}
}
