/* ---------- MENUS ---------- */

.menu-wrapper {
	position: relative;
}

button[aria-expanded] + [role='menu'] {
	background-color: var(--surface-default);
	border-radius: var(--border-radius-default);
	border: var(--border-default);
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 3rem;
	right: 0;
}

button[aria-expanded] + [role='menu'] li {
	padding: var(--spacing-xs) var(--spacing-s);
	white-space: nowrap;
}

button[aria-expanded] + [role='menu'] li:has(:checked) {
	background-color: var(--blue);
	color: var(--color-text-inverted);
}

.dark-mode button[aria-expanded] + [role='menu'] li:has(:checked) {
	color: var(--color-text);
}

button[aria-expanded='false'] + [role='menu'] {
	display: none;
}

button[aria-expanded='true'] + [role='menu'] {
	display: block;
}

ul[role='menu'] [type='radio'] {
	position: absolute;
	z-index: -1;
}

ul[role='menu'] [type='radio'] + label {
	display: flex;
	gap: var(--spacing-xs);
	align-items: center;
}
