dialog {
	border: var(--border-base);
	border-radius: var(--border-radius-base);
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	z-index: 500;

	> button:first-child + * {
		padding-right: 3rem;
	}

	.btn-cancel {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}
