.submenu {
	[aria-expanded='false'] + div[role='menu'] {
		display: none;
	}

	.dropdown {
		color: var(--color-text);
		display: block;
		position: absolute;
		right: 0;
		top: 3rem;
		z-index: 20;
	}

	ul {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			width: max-content;
		}
	}
}
